//Fonts
$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);

$font-text: var(--font-text);
$font-heading: var(--font-heading);

//Colors
$color-primary: var(--color-primary);

$color-black: var(--color-black);
$color-white: var(--color-white);

$color-text: var(--color-text);

//Radii
$radius-primary: var(--radius-primary);

//Transition durations
$transition-duration-primary: var(--transition-duration-primary);

//Transition timings
$transition-timing-primary: var(--transition-timing-primary);

//Media
$media-xs: 575.98px;
$media-sm: 767.98px;
$media-md: 991.98px;
$media-lg: 1199.98px;
$media-xl: 1399.98px;